NET "sys_clk_i" LOC = B8;
NET "sys_clk_i" IOSTANDARD = LVCMOS33;

NET "sys_rst_i" LOC = G18;
NET "sys_rst_i" IOSTANDARD = LVCMOS33;

NET "rx_led" LOC = J14;
NET "rx_led" IOSTANDARD = LVCMOS33;

NET "tx_led" LOC = J15;
NET "tx_led" IOSTANDARD = LVCMOS33;

NET "uart_tx" LOC = M15;
NET "uart_tx" IOSTANDARD = LVCMOS33;

NET "uart_rx" LOC = K12;
NET "uart_rx" IOSTANDARD = LVCMOS33;

NET "mod_rst" LOC = L17;
NET "mod_rst" IOSTANDARD = LVCMOS33;

NET "led1" LOC = R4;
NET "led1" IOSTANDARD = LVCMOS33;

NET "led2" LOC = F4;
NET "led2" IOSTANDARD = LVCMOS33;
